html, body {
  background: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  padding: 0;
  width: 100%;
}
.header {
  margin: 0;
  padding: 0;
}
.header img {
  margin: 0 20px 0 0;
  height: 80px;
  width: 80px;
}
.header a {
  color: #000;
  font-size: 20px;  
  text-decoration: none; 
}
.header a:hover {
  color: #c91717;
  text-decoration: none;   
}
.main h2 {
  background: #000;
  color: #fff;
  font-size: 16px;
  height: 80px;
  margin: 0;
  padding: 10px;
  position: absolute;
  width: 80px;
  z-index: 1;
}
.item {
  cursor: pointer;
  margin: 0;  
  padding: 0;
}
.item:hover {
  background: #000; 
  text-decoration: none;
  transition: background 500ms;
}
p.author {
  color: #000;
  padding: 24px;
  text-align: left;
}
.item:hover p.author, .item:hover a {
  color: #fff;
  text-decoration: none;
}
.photo {
  margin: 0 0 80px;   
}
.photo img {
  width: 100%;
}
.photo h2 {
  color: #000;
  padding: 20px 108px;
}
.photo p {
  color: #6f6f6f;
  margin: 0;
  padding: 0 108px 0;
}
.github-url{
  background: red;
}
  