
  <div class="container">
    <h2>Resultado</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar (ej: Angular)..." ng-model="searchText">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="myFunc(searchText)">BUSCAR</button>
              </span>
            </div>
        </div>
    </div>

    </br>

    <div class="row">
        <div class="list-group" ng-repeat="repo in repos">
          <a class="list-group-item active" ng-click="cargarIssues(repo)" >
              {{ repo.html_url }}
          </a>
          <li class="list-group-item">
              <span class="badge">{{repo.open_issues_count}}</span>
              <b>Issues abiertos :</b>
          </li>
          <li class="list-group-item">
              <span class="badge">{{repo.description}}</span>
              <b>Descripción :</b> 
          </li>
          <li class="list-group-item">
              <span class="badge">{{repo.forks_count}}</span>
              <b>Cantidad de Fork :</b> 
          </li>
          <li class="list-group-item">
              <span class="badge">{{repo.stargazers_count}}</span>
              <b>Número de estrellas :</b> 
          </li>

          <br>

          <table class="table" ng-if="repo.showIssues">
              <thead>
                <tr>
                  <th class="info">Título</th>
                  <th class="info">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="openIssue in repo.openIssue">
                  <td class="active">{{openIssue.title}}</td>
                  <td class="success"> {{openIssue.state}}</td>
                
                </tr>
              </tbody>
            </table>
        </div>
    </div>
  </div>



